<!-- <hello name="{{ name }}"></hello>
<p>
  Start  :)
</p> -->
<!DOCTYPE html>
<html lang="">
<style>
    .no-padding {
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .customdiv {
        margin-top: 20px;
        min-height: 250px;
        background-color: silver;
        text-align: center;
        font-size: large;
    }

</style>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

</head>

<body>

    <div>
        <h2 style="text-align: center; color: crimson; ">Bootstrap Grid System</h2>
    </div>
     <div class="container">
        <div class="row">

            <div class="col-md-4 col-sm-3">
                <div class="customdiv">one</div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="customdiv">Two</div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="customdiv">Three</div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-4 col-sm-3">
                <div class="customdiv">FOur</div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="customdiv">Five</div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="customdiv">Six</div>
            </div>
        </div>
         <div class="row">

            <div class="col-md-4 col-sm-3">
                <div class="customdiv">Seven</div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="customdiv">Eignt</div>
            </div>
            <div class="col-md-4 col-sm-3">
                <div class="customdiv">Nine</div>
            </div>
        </div>
    </div>


</body>

</html>
